In [1]:
import pandas as pd

In [2]:
LABEVENTS = "../../Resources/LABEVENTS.csv"
D_LABITEMS = "../../Resources/D_LABITEMS.csv"
PATIENTS = "../../Resources/PATIENTS.csv"

In [3]:
lab_df = pd.read_csv(LABEVENTS)

lab_df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,282,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN
2,283,3,NaN,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,NaN
3,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN
4,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal

In [4]:
items_df = pd.read_csv(D_LABITEMS)

items_df = items_df.drop(['ROW_ID'], axis=1)

items_df.head()

,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
0,51346,Blasts,Cerebrospinal Fluid (CSF),Hematology,26447-3
1,51347,Eosinophils,Cerebrospinal Fluid (CSF),Hematology,26451-5
2,51348,"Hematocrit, CSF",Cerebrospinal Fluid (CSF),Hematology,30398-2
3,51349,Hypersegmented Neutrophils,Cerebrospinal Fluid (CSF),Hematology,26506-6
4,51350,Immunophenotyping,Cerebrospinal Fluid (CSF),Hematology,NaN

In [5]:
joined_df = lab_df.merge(items_df, on='ITEMID')

joined_df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,LABEL,FLUID,CATEGORY,LOINC_CODE
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas,11558-4
1,289,3,NaN,50820,2101-10-12 18:17:00,7.42,7.42,units,NaN,pH,Blood,Blood Gas,11558-4
2,396,3,NaN,50820,2101-10-15 12:42:00,7.49,7.49,units,NaN,pH,Blood,Blood Gas,11558-4
3,976,3,145834.0,50820,2101-10-22 04:31:00,7.40,7.40,units,NaN,pH,Blood,Blood Gas,11558-4
4,989,3,145834.0,50820,2101-10-22 07:13:00,7.37,7.37,units,NaN,pH,Blood,Blood Gas,11558-4

In [6]:
joined_df['FLUID'].value_counts()

Blood                        25341470
Urine                         1964068
BLOOD                          405141
Cerebrospinal Fluid (CSF)       35917
Ascites                         31224
Pleural                         28393
Other Body Fluid                24667
URINE                           11850
Bone Marrow                      5368
Joint Fluid                      5319
Stool                             630
OTHER BODY FLUID                    6
JOINT FLUID                         2
Name: FLUID, dtype: int64

In [7]:
patient_df = pd.read_csv(PATIENTS)

patient_df = patient_df.drop(['ROW_ID'], axis=1)

patient_df.head()

,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0
1,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1
2,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0
3,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0
4,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0

In [8]:
final_df = joined_df.merge(patient_df, on='SUBJECT_ID')

final_df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,LABEL,FLUID,CATEGORY,LOINC_CODE,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
1,289,3,NaN,50820,2101-10-12 18:17:00,7.42,7.42,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
2,396,3,NaN,50820,2101-10-15 12:42:00,7.49,7.49,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
3,976,3,145834.0,50820,2101-10-22 04:31:00,7.40,7.40,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
4,989,3,145834.0,50820,2101-10-22 07:13:00,7.37,7.37,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1

In [27]:
blood_df = final_df[final_df.FLUID == "Blood"]

blood_df

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,LABEL,FLUID,CATEGORY,LOINC_CODE,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
1,289,3,NaN,50820,2101-10-12 18:17:00,7.42,7.42,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
2,396,3,NaN,50820,2101-10-15 12:42:00,7.49,7.49,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
3,976,3,145834.0,50820,2101-10-22 04:31:00,7.40,7.40,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
4,989,3,145834.0,50820,2101-10-22 07:13:00,7.37,7.37,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
5,998,3,145834.0,50820,2101-10-22 10:16:00,7.37,7.37,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
6,1007,3,145834.0,50820,2101-10-22 11:21:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
7,1020,3,145834.0,50820,2101-10-22 13:02:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
8,1030,3,145834.0,50820,2101-10-22 15:59:00,7.41,7.41,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
9,1044,3,145834.0,50820,2101-10-22 16:02:00,7.36,7.36,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
10,1069,3,145834.0,50820,2101-10-22 21:20:00,7.42,7.42,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
11,1084,3,145834.0,50820,2101-10-23 02:46:00,7.42,7.42,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
12,1097,3,145834.0,50820,2101-10-23 02:49:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
13,1138,3,145834.0,50820,2101-10-23 10:14:00,7.42,7.42,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
14,1151,3,145834.0,50820,2101-10-23 10:22:00,7.37,7.37,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
15,1165,3,145834.0,50820,2101-10-23 16:10:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
16,590,3,145834.0,50820,2101-10-20 20:04:00,7.26,7.26,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
17,608,3,145834.0,50820,2101-10-20 21:51:00,7.26,7.26,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
18,624,3,145834.0,50820,2101-10-21 00:42:00,7.29,7.29,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
19,633,3,145834.0,50820,2101-10-21 01:46:00,7.30,7.30,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
20,507,3,145834.0,50820,2101-10-20 19:12:00,7.35,7.35,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
21,519,3,145834.0,50820,2101-10-20 19:14:00,7.59,7.59,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
22,190,3,NaN,50820,2101-10-12 09:18:00,7.44,7.44,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
23,209,3,NaN,50820,2101-10-12 10:51:00,7.43,7.43,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
24,227,3,NaN,50820,2101-10-12 12:05:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
25,243,3,NaN,50820,2101-10-12 13:00:00,7.40,7.40,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
26,260,3,NaN,50820,2101-10-12 14:22:00,7.37,7.37,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
27,689,3,145834.0,50820,2101-10-21 03:09:00,7.33,7.33,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
28,720,3,145834.0,50820,2101-10-21 08:46:00,7.42,7.42,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
29,729,3,145834.0,50820,2101-10-21 08:51:00,7.37,7.37,units,NaN,pH,Blood,Blood Gas,11558-4,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27854000,19814630,32653,107899.0,50883,2172-11-18 23:48:00,0.4,0.40,mg/dL,abnormal,"Bilirubin, Direct",Blood,Chemistry,1968-7,F,2172-11-16 00:00:00,NaN,NaN,NaN,0
27854001,19814633,32653,107899.0,50883,2172-11-19 10:00:00,0.3,0.30,mg/dL,NaN,"Bilirubin, Direct",Blood,Chemistry,1968-7,F,2172-11-16 00:00:00,NaN,NaN,NaN,0
27854002,19814631,32653,107899.0,50884,2172-11-18 23:48:00,12.3,12.30,mg/dL,NaN,"Bilirubin, Indirect",Blood,Chemistry,1971-1,F,2172-11-16 00:00:00,NaN,NaN,NaN,0
27854003,19814634,32653,107899.0,50884,2172-11-19 10:00:00,11.7,11.70,mg/dL,NaN,"Bilirubin, Indirect",Blood,Chemistry,1971-1,F,2172-11-16 00:00:00,NaN,NaN,NaN,0
27854004,19814667,32655,129860.0,50885,2173-02-10 05:50:00,9.5,9.50,mg/dL,abnormal,"Bilirubin, Total",Blood,Chemistry,1975-2,M,2173-02-08 00:00:00,NaN,NaN,NaN,0
27854005,19814670,32655,111393.0,50885,2173-02-12 18:51:00,18.3,18.30,mg/dL,abnormal,"Bilirubin, Total",Blood,Chemistry,1975-2,M,2173-02-08 00:00:00,NaN,NaN,NaN,0
27854006,19814673,32655,111393.0,50885,2173-02-13 06:00:00,16.0,16.00,mg/dL,abnormal,"Bilirubin, Total",Blood,Chemistry,1975-2,M,2173-02-08 00:00:00,NaN,NaN,NaN,0
27854007,19814676,32655,111393.0,50885,2173-02-13 16:00:00,13.7,13.70,mg/dL,abnormal,"Bilirubin, Total",Blood,Chemistry,1975-2,M,2173-02-08 00:00:00,NaN,NaN,NaN,0
27854008,19814665,32655,129860.0,50883,2173-02-10 05:50:00,0.3,0.30,mg/dL,NaN,"Bilirubin, Direct",Blood,Chemistry,1968-7,M,2173-02-08 00:00:00,NaN,NaN,NaN,0
27854009,19814668,32655,111393.0,50883,2173-02-12 18:51:00,0.3,0.30,mg/dL,NaN,"Bilirubin, Direct",Blood,Chemistry,1968-7,M,2173-02-08 00:00:00,NaN,NaN,NaN,0
27854010,19814671,32655,111393.0,50883,2173-02-13 06:00:00,0.3,0.30,mg/dL,NaN,"Bilirubin, Direct",Blood,Chemistry,1968-7,M,2173-02-08 00:00:00,NaN,NaN,NaN,0
27854011,19814674,32655,111393.0,50883,2173-02-13 16:00:00,0.3,0.30,mg/dL,NaN,"Bilirubin, Direct",Blood,Chemistry,1968-7,M,2173-02-08 00:00:00,NaN,NaN,NaN,0
27854012,19814666,32655,129860.0,50884,2173-02-10 05:50:00,9.2,9.20,mg/dL,NaN,"Bilirubin, Indirect",Blood,Chemistry,1971-1,M,2173-02-08 00:00:00,NaN,NaN,NaN,0
27854013,19814669,32655,111393.0,50884,2173-02-12 18:51:00,18.0,18.00,mg/dL,NaN,"Bilirubin, Indirect",Blood,Chemistry,1971-1,M,2173-02-08 00:00:00,NaN,NaN,NaN,0
27854014,19814672,32655,111393.0,50884,2173-02-13 06:00:00,15.7,15.70,mg/dL,NaN,"Bilirubin, Indirect",Blood,Chemistry,1971-1,M,2173-02-08 00:00:00,NaN,NaN,NaN,0
27854015,19814675,32655,111393.0,50884,2173-02-13 16:00:00,13.4,13.40,mg/dL,NaN,"Bilirubin, Indirect",Blood,Chemistry,1971-1,M,2173-02-08 00:00:00,NaN,NaN,NaN,0
27854016,19805073,32634,144704.0,50885,2137-06-02 02:40:00,7.1,7.10,mg/dL,abnormal,"Bilirubin, Total",Blood,Chemistry,1975-2,M,2137-05-31 00:00:00,NaN,NaN,NaN,0
27854017,19805071,32634,144704.0,50883,2137-06-02 02:40:00,0.3,0.30,mg/dL,NaN,"Bilirubin, Direct",Blood,Chemistry,1968-7,M,2137-05-31 00:00:00,NaN,NaN,NaN,0
27854018,19805072,32634,144704.0,50884,2137-06-02 02:40:00,6.8,6.80,mg/dL,NaN,"Bilirubin, Indirect",Blood,Chemistry,1971-1,M,2137-05-31 00:00:00,NaN,NaN,NaN,0
27854019,19819591,32662,169191.0,50885,2194-03-09 14:30:00,10.0,10.00,mg/dL,abnormal,"Bilirubin, Total",Blood,Chemistry,1975-2,M,2194-03-07 00:00:00,NaN,NaN,NaN,0
27854020,19819589,32662,169191.0,50883,2194-03-09 14:30:00,0.2,0.20,mg/dL,NaN,"Bilirubin, Direct",Blood,Chemistry,1968-7,M,2194-03-07 00:00:00,NaN,NaN,NaN,0
27854021,19819590,32662,169191.0,50884,2194-03-09 14:30:00,9.8,9.80,mg/dL,NaN,"Bilirubin, Indirect",Blood,Chemistry,1971-1,M,2194-03-07 00:00:00,NaN,NaN,NaN,0
27854022,6436766,10358,135827.0,51275,2195-05-11 14:15:00,21.2,21.20,sec,abnormal,PTT,Blood,Hematology,3173-2,M,2131-03-17 00:00:00,2195-05-11 00:00:00,2195-05-11 00:00:00,2195-05-11 00:00:00,1
27854023,6436764,10358,135827.0,51237,2195-05-11 14:15:00,1.0,1.00,NaN,NaN,INR(PT),Blood,Hematology,5895-7,M,2131-03-17 00:00:00,2195-05-11 00:00:00,2195-05-11 00:00:00,2195-05-11 00:00:00,1
27854024,6436765,10358,135827.0,51274,2195-05-11 14:15:00,11.9,11.90,sec,NaN,PT,Blood,Hematology,5902-2,M,2131-03-17 00:00:00,2195-05-11 00:00:00,2195-05-11 00:00:00,2195-05-11 00:00:00,1
27854025,7910297,12703,144954.0,50810,2154-06-03 19:24:00,56,56.00,%,NaN,"Hematocrit, Calculated",Blood,Blood Gas,20570-8,M,2154-06-03 00:00:00,NaN,NaN,NaN,0
27854026,7910298,12703,144954.0,50811,2154-06-03 19:24:00,18.6,18.60,g/dL,abnormal,Hemoglobin,Blood,Blood Gas,718-7,M,2154-06-03 00:00:00,NaN,NaN,NaN,0
27854027,7910296,12703,144954.0,50809,2154-06-03 19:24:00,98,98.00,mg/dL,NaN,Glucose,Blood,Blood Gas,2339-0,M,2154-06-03 00:00:00,NaN,NaN,NaN,0
27854045,25952079,84715,NaN,50993,2161-01-14 10:40:00,6.4,6.40,uIU/mL,abnormal,Thyroid Stimulating Hormone,Blood,Chemistry,3016-3,F,2108-02-07 00:00:00,NaN,NaN,NaN,0
27854046,25952080,84715,NaN,50993,2161-03-13 15:45:00,2.8,2.80,uIU/mL,NaN,Thyroid Stimulating Hormone,Blood,Chemistry,3016-3,F,2108-02-07 00:00:00,NaN,NaN,NaN,0

In [31]:
# Blood Gas labels
blood_gas = blood_df[blood_df.CATEGORY == 'Blood Gas']
blood_gas_chloride = blood_gas[blood_gas.LABEL == 'Chloride, Whole Blood']
blood_gas_glucose = blood_gas[blood_gas.LABEL == 'Glucose']
blood_gas_hematocritcalc = blood_gas[blood_gas.LABEL == 'Hematocrit, Calculated']
blood_gas_hemoglobin = blood_gas[blood_gas.LABEL == 'Hemoglobin']
blood_gas_lactate = blood_gas[blood_gas.LABEL == 'Lactate']
blood_gas_potassiumwb = blood_gas[blood_gas.LABEL == 'Potassium, Whole Blood']
blood_gas_sodiumwb = blood_gas[blood_gas.LABEL == 'Sodium, Whole Blood']

In [32]:
# Chemistry labels
chemistry = blood_df[blood_df.CATEGORY == 'Chemistry']
chemistry_anion_gap = chemistry[chemistry.LABEL == 'Anion Gap']
chemistry_albumin = chemistry[chemistry.LABEL == 'Albumin']
chemistry_bicarbonate = chemistry[chemistry.LABEL == 'Bicarbonate']
chemistry_bilirubin_total = chemistry[chemistry.LABEL == 'Bilirubin, Total']
chemistry_creatinine = chemistry[chemistry.LABEL == 'Creatinine']
chemistry_chloride = chemistry[chemistry.LABEL == 'Chloride']
chemistry_glucose = chemistry[chemistry.LABEL == 'Glucose']
chemistry_magnesium = chemistry[chemistry.LABEL == 'Magnesium']
chemistry_phosphate = chemistry[chemistry.LABEL == 'Phosphate']
chemistry_potassium = chemistry[chemistry.LABEL == 'Potassium']
chemistry_sodium = chemistry[chemistry.LABEL == 'Sodium']
chemistry_urea_nitrogen = chemistry[chemistry.LABEL == 'Urea Nitrogen']

In [ ]:
# Hematology labels
hematology = blood_df[blood_df.CATEGORY == 'Hematology']
hematology_hematocrit = hematology[hematology.LABEL == 'Hematocrit']
hematology_hemoglobin = hematology[hematology.LABEL == 'Hemoglobin']
hematology_platelet_count = hematology[hematology.LABEL == 'Platelet Count']
hematology_ptt = hematology[hematology.LABEL == 'PTT']
hematology_inr(pt) = hematology[hematology.LABEL == 'INR(PT)']
hematology_pt = hematology[hematology.LABEL == 'PT']
hematology_white_blood_cells = hematology[hematology.LABEL == 'White Blood Cells']
hematology_wbc_count = hematology[hematology.LABEL == 'WBC Count']